@use '../custom' as *;

// GRADIENT MIXIN 
// @mixin gradient {
//     background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
// }
@mixin gradient {
    background: linear-gradient(to right, rgba(#0d6efd, 0.95), rgba(lighten(#0d6efd,5%), 0.95));
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
}

// CUSTOM ART BORDER
.custom-art-border {
    padding: 2px;
    background: #F4F4F4;
    background-blend-mode: screen;
    border-radius: 4px;
    display: grid;
    place-items: center;
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}